// Remove padding on map page
body.template-home #app > main {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	position: relative;
}

.location-form {
	position: absolute;
	z-index: 500;
	width: 100%;
	padding:.7rem .7rem;
	
	@include media-breakpoint-up(md) {
		padding:.7rem 15%;
	}

	@include media-breakpoint-up(lg) {
		padding:.7rem 25%;
	}
	
	> form {
		background: rgba(255,255,255,1);
		border-radius: 5px;
		padding: $spacer / 2;

		.form-control {
			border: 0;
			
			&:focus {
				border: none;
				box-shadow: none;
				outline: none;
			}
		}
	}
}