
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '~leaflet/dist/leaflet.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#map {
	height: 75vh;
}

// Added by Duane

body.template-home,
body.template-friends {
	main .container-fluid {
		max-width: 98%;
		margin: auto;
	}

	main .current-location form {
		margin-bottom: 10px;
	}
}

body.template-login,
body.template-register {
	background-image: url( '../images/test3.jpg' );
	background-size: cover;
	background-position: bottom right;
	background-repeat: no-repeat;
	height: 100vh;

	.navbar {
		background-color: rgba( 255, 255, 255, 0.7 )
	}

	.col-md-8 {
		margin-top: 10%;
	}

	.card {
		background-color: rgba( 255, 255, 255, 0.85 );
	}

	footer {
		position: absolute;
		bottom: 10px;
		text-align: center;
		width: 100%;
	}
}

