
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '~leaflet/dist/leaflet.css';
@import '~leaflet.markercluster/dist/MarkerCluster.css';
@import '~leaflet.markercluster/dist/MarkerCluster.Default.css';


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#map {
	height: 75vh;
}

// Added by Duane

body.template-home,
body.template-friends {
	main .container-fluid {
		max-width: 98%;
		margin: auto;
	}

	main .current-location form {
		margin-bottom: 10px;
	}
}

body.template-login,
body.template-register {
	background-image: url( '../images/test3.jpg' );
	background-size: cover;
	background-position: bottom right;
	background-repeat: no-repeat;
	height: 100vh;

	.navbar {
		background-color: rgba( 255, 255, 255, 0.7 )
	}

	.col-md-8 {
		margin-top: 10%;
	}

	.card {
		background-color: rgba( 255, 255, 255, 0.85 );
	}

	footer {
		position: absolute;
		bottom: 10px;
		text-align: center;
		width: 100%;
	}
}


.live-search-results {
	position: absolute;
    width: 100%;
    z-index: 999;
    padding-right: 10px;
    
    > li {
    	&:first-child {
    		border-top-left-radius: 0;
    		border-top-right-radius: 0;
    	}

    	&:hover {
    		background: $light-gray;
    	}
    }
}

html.template-home, 
body.template-home, 
body.template-home #app, 
body.template-home #app > main, 
#map {
    height: 100%;
    width: 100%;
}

body.template-home #app > main {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	position: relative;
}

body.template-home .current-location {
	position: absolute;
	// top:1.5rem;
	z-index: 9999;
	width: 100%;
	padding:.7rem 3rem;
	
	> form {
		background: rgba(255,255,255,.8);
		border-radius: 1rem;
		padding: 1rem;
	}
}

